<div class="col-12 row m-0 p-0 d-flex justify-content-center">
    <div class="col-10 row p-0 d-flex justify-content-center" style="margin : 0; margin-top : 10px;">
        <div class="col-12 row m-0 p-0">
            <div class="col-3 row p-0 m-0 d-flex justify-content-center">
                <a type="button" class="col-6 btn btn-outline-secondary" asp-controller="Admin" asp-action="RegisterItem">품목등록</a>
            </div>
            <div class="col-3 row p-0 m-0 d-flex justify-content-center">
                <a asp-controller="Admin" asp-action="RegisterItemOption" type="button" class="col-6 btn btn-outline-secondary">품목옵션</a>
            </div>
            <div class="col-3 row p-0 m-0 d-flex justify-content-center">
                <button type="button" class="col-6 btn btn-outline-secondary">주문내역</button>
            </div>
            <div class="col-3 row p-0 m-0 d-flex justify-content-center">
                <button type="button" class="col-6 btn btn-outline-secondary">가맹점등록</button>
            </div>
        </div>
    </div>
</div>