@model FUCOS.Models.Login.RegisterManageModel


<div class=" row col-12 p-0 m-0 d-flex justify-content-around mh-100" style="">
    <div class="col-1 row m-0 p-0"></div>
    <div class=" row col-9 p-0 mb-0 d-flex justify-content-center" style="margin : 0; margin-top : 10px;">
        <form id="loginform" method="post" asp-controller="Register" asp-action="Register">
            <div class="col-12 row p-0 justify-content-center" style="margin : 0; margin-top : 10px;">
                <div class="col-6 row p-0 m-0">
                    <label for="ID" class="form-label form-control-sm">ID</label>
                    <input type="text" asp-for="Id" name="ID" class="form-control form-control-sm" id="ID" placeholder="5~25자의 숫자와 영어의 조합입니다." autocomplete="off">
                    <span style="margin-left:15px; color:#ffffff; font-size:12px;" asp-validation-for="Id"></span>
                </div>
            </div>
            <div class="col-12 row p-0 justify-content-center" style="margin : 0; margin-top : 10px;">
                <div class="col-6 row p-0 m-0 mb-0">
                    <label for="Password" class="form-label form-control-sm">Password</label>
                    <input type="password" asp-for="Password" class="form-control form-control-sm" id="Password" placeholder="">
                    <span style="color:#ffffff; font-size:12px; margin-left:15px;" asp-validation-for="Password"></span>
                </div>
            </div>
            <div class="col-12 row p-0 justify-content-center" style="margin : 0; margin-top : 10px;">
                <div class="col-6 row p-0 m-0 mb-0">
                    <label for="Password_check" class="form-label form-control-sm">Password 확인</label>
                    <input type="password" asp-for="Password_check" class="form-control form-control-sm" id="Password_check" placeholder="">
                    <span style="color:#ffffff; font-size:12px; margin-left:15px;" asp-validation-for="Password_check"></span>
                </div>
            </div>
            <div class="col-12 row p-0 justify-content-center" style="margin : 0; margin-top : 10px;">
                <div class="col-6 row p-0 m-0 mb-0">
                    <label for="Name" class="form-label">이름</label>
                    <input type="text" asp-for="Name" class="form-control form-control-sm" id="Name" placeholder="">
                    <span style="margin-left:15px; color:#ffffff; font-size:12px;" asp-validation-for="Name"></span>
                </div>
            </div>
            <div class="col-12 row p-0 justify-content-center" style="margin : 0; margin-top : 10px;">
                <div class="col-6 row p-0 m-0 mb-0">
                    <label for="Mail" class="form-label">E-Mail</label>
                    <input type="text" asp-for="Mail" class="form-control form-control-sm" id="Mail" placeholder="">
                    <span style="margin-left:95px; color:#ffffff; font-size:12px;" asp-validation-for="Mail"></span>
                </div>
            </div>
            <div class="col-12 row p-0 justify-content-center" style="margin : 0; margin-top : 10px;">
                <div class="col-6 row p-0 m-0 mb-0">
                    <label for="Tel" class="form-label">전화번호</label>
                    <input type="text" asp-for="Tel" class="form-control form-control-sm" id="tel" placeholder="숫자만입력해주세요">
                    <span style="margin-left:95px; color:#ffffff; font-size:12px;" asp-validation-for="Tel"></span>
                </div>
            </div>
            <div class="col-12 row p-0 justify-content-center" style="margin : 0; margin-top : 10px;">
                <div class="col-6 row p-0 m-0 mb-0">
                    <label for="Phone" class="form-label">휴대전화</label>
                    <input type="text" asp-for="Phone" class="form-control form-control-sm" id="Phone" placeholder="숫자만입력해주세요">
                    <span style="margin-left:95px; color:#ffffff; font-size:12px;" asp-validation-for="Phone"></span>
                </div>
            </div>
            <div class="col-12 row p-0 justify-content-center" style="margin : 0; margin-top : 10px;">
                <div class="col-6 row p-0 m-0 mb-0">
                    <label for="add" class="form-label">우편번호</label>
                    <input onclick="execPostCode()" type="text" asp-for="add" class="form-control form-control-sm" id="add" name="add" placeholder="" readonly>
                </div>
            </div>
            <div class="col-12 row p-0 justify-content-center" style="margin : 0; margin-top : 10px;">
                <div class="col-6 row p-0 m-0 mb-0">
                    <label for="add2" class="form-label">주소</label>
                    <input onclick="execPostCode()" type="text" asp-for="add2" class="form-control form-control-sm" id="add2" name="add2" placeholder="" readonly>
                </div>
            </div>
            <div class="col-12 row p-0 justify-content-center" style="margin : 0; margin-top : 10px;">
                <div class="col-6 row p-0 m-0 mb-0">
                    <label for="add3" class="form-label">상세주소</label>
                    <input type="text" asp-for="add3" class="form-control form-control-sm" id="add3" name="add3" placeholder="">
                </div>
            </div>
            <div class="col-12 row p-0 justify-content-center" style="margin : 0; margin-top : 10px;">
                <div class="col-6 row p-0 m-0 mb-0">
                    <label for="Biz_No" class="form-label">사업자번호</label>
                    <input type="text" class="form-control form-control-sm" id="Biz_No" placeholder="">
                </div>
            </div>
            <div class="col-12 row p-0 justify-content-center" style="margin :auto; margin-top : 20px;">
                <button type="submit" class="btn btn-outline-secondary d-inline " style=" width : 95px; margin-right :10px;">회원가입</button>
                <a class="btn btn-outline-secondary d-inline align-middle" style="width : 95px;" asp-controller="Home" asp-action="index">취소</a>
            </div>
        </form>
    </div>
    <div class="col-1 row m-0 p-0"></div>
</div>

<script type="text/javascript">
    //주소받기
    function execPostCode() {
        new daum.Postcode({
            oncomplete: function (data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 도로명 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var fullRoadAddr = data.roadAddress; // 도로명 주소 변수
                var extraRoadAddr = ''; // 도로명 조합형 주소 변수

                // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
                    extraRoadAddr += data.bname;
                }
                // 건물명이 있고, 공동주택일 경우 추가한다.
                if (data.buildingName !== '' && data.apartment === 'Y') {
                    extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                }
                // 도로명, 지번 조합형 주소가 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                if (extraRoadAddr !== '') {
                    extraRoadAddr = ' (' + extraRoadAddr + ')';
                }
                // 도로명, 지번 주소의 유무에 따라 해당 조합형 주소를 추가한다.
                if (fullRoadAddr !== '') {
                    fullRoadAddr += extraRoadAddr;
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                console.log(data.zonecode);
                console.log(fullRoadAddr);


                //$("[name=add]").val(data.zonecode);
                //$("[name=add2]").val(fullRoadAddr);

                document.getElementById('add').value = data.zonecode; //5자리 새우편번호 사용
                document.getElementById('add2').value = fullRoadAddr;
                //document.getElementById('signUpUserCompanyAddressDetail').value = data.jibunAddress;
                document.getElementById("add3").focus();
            }

        }).open(); 
    }

</script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial" />
    }
    }