@model FUCOS.Models.Login.RegisterManageModel

<div class=" row col-12 p-0 m-0 d-flex justify-content-around" style="height:62vw;">
    <div class="col-1 row m-0 p-0"></div>
    <div class=" row col-9 p-0 mb-0 d-flex justify-content-center" style="margin : 0; margin-top : 10px;">
        <form method="post" asp-controller="Login" asp-action="Login">
            <div class="col-12 row p-0 justify-content-center" style="margin : 0; margin-top : 10px;">
                <div class="col-6 row p-0 m-0">
                    <label for="exampleFormControlInput1" class="form-label form-control-sm">ID</label>
                    <input type="text" asp-for="Id" class="form-control form-control-sm" id="exampleFormControlInput1" placeholder="">
                </div>
            </div>
            <div class="col-12 row p-0 justify-content-center" style="margin : 0; margin-top : 10px;">
                <div class="col-6 row p-0 m-0 mb-0">
                    <label for="exampleFormControlInput2" class="form-label form-control-sm">Password</label>
                    <input type="password" asp-for="Password" class="form-control form-control-sm" id="exampleFormControlInput2" placeholder="">
                </div>
            </div>
            <div class="col-12 row p-0 justify-content-center" style="margin :auto; margin-top : 20px;">
                <button type="submit" class="btn btn-outline-secondary d-inline" style=" width : 95px; margin-right : 10px;">로그인</button>
                <a class="btn btn-outline-secondary d-inline align-middle" asp-controller="Register" asp-action="Register" style="text-decoration:none; width : 95px;">회원가입</a>
            </div>
        </form>
    </div>
    <div class="col-1 row m-0 p-0"></div>
</div>