<div class=" row col-12 p-0 m-0 d-flex justify-content-center mh-100" style="">
    <div class="col-auto">
        <form class="col-12 row p-0 m-0">
            <div class="col-9 row p-0 m-0">
                <div class="col-9 row p-0 m-0">
                    <label for="exampleFormControlInput1" class="form-label" form-control-sm>ID</label>
                    <input type="text" class="form-control" form-control-sm id="exampleFormControlInput1" placeholder="">
                </div>
                <div class="col-9 row p-0 m-0 mb-0">
                    <label for="exampleFormControlInput2" class="form-label" form-control-sm>Password</label>
                    <input type="password" class="form-control" form-control-sm id="exampleFormControlInput2" placeholder="">
                </div>
                <div class="col-9 row p-3 m-0 mb-3">
                    <button type="button" class="btn btn-secondary">Secondary</button>
                </div>
            </div>
        </form>
    </div>
</div>