@page

<style>
    .span_under_line {
        text-decoration: none;
    }

    .span_img {
        color: white;
        font-size: 16px;
        font-weight: 500;
        margin-top: 35px;
        width : auto;

    }

    .span_O {
        color: white;
        font-size: 21px;
        font-weight: 500;
    }

    .OMD_btn {
        border: 1px solid #ff6516;
        border-radius: 10px;
        background-color: white;
        color: #ff6516;
        font-size: 21px;
        font-weight: 800;
    }

        .OMD_btn:hover {
            background-color: #ff6516;
            color: white;
        }

</style>
@if(ViewBag.USER_GROUP == "admin"){
    <div class="col-12 row m-0 p-0 d-flex justify-content-center">
        <div class="col-12 row m-0 p-0 d-flex justify-content-center"><a style="width:auto;jc text-decoration:none; color: black;" asp-controller="admin" asp-action="admin">관리자 페이지</a> </div>
    </div>
}
<div class="col-12 row m-0 p-0  d-flex align-items-center justify-content-center" style="height:750px; position:relative; z-index : 1; background-image:url(https://cdn.imweb.me/thumbnail/20220228/87ebbcb2d5754.jpg); background-size: cover; background-repeat: no-repeat;">
    <div class="col-9 row m-0 p-0 d-flex justify-content-center ">
        <div class="col-12 row m-0 p-0 d-flex justify-content-center"><span style="width : auto; background-color : white; color : black; font-size : 21px;">대구 3대 맛집 비법 그대로 담은</span></div>
        <div class="col-12 row m-0 p-0 d-flex justify-content-center"><span class="p-0 m-0 d-flex" style="width : auto; color:white; font-size: 100px; font-weight:900; margin-top : 15px; text-align :center;">대한민국 1등</span></div>
        <div class="col-12 row m-0 p-0 d-flex justify-content-center"><span style="width : auto; color:#ffd800; font-size:50px; font-weight:900;">막창, 곱창 제조기업</span></div>
        <div class="col-12 row m-0 p-0 d-flex justify-content-center">
            <span class="span_under_line span_img d-inline m-0 p-0">최상의 품질 제품으로 막창</span><span class="span_img d-inline m-0 p-0">, </span>
            <span class="span_under_line span_img d-inline m-0 p-0">곱창 업계를 리드</span><span class="span_img p-0 m-0">하고 있습니다.</span>
        </div>
    </div>
</div>
<div class="col-12 row m-0" style="height:100%; background-color:white; padding : 0; padding-bottom : 60px;">
    <div class="col-12 row m-0 p-0 d-flex justify-content-center" style="height : 17%">
        <span class="col-12 d-flex justify-content-center p-0" style="color : black; font-size: 65px; font-weight: 900; margin-top:60px;">푸코스가 독보적인 이유</span>
    </div>
    <div class="col-12 row m-0 p-0 d-flex justify-content-around" style="height : 45%">
        <div class="col-3 row m-0 p-0 d-flex justify-content-center">
            <div class=" col-12 row p-0 m-0 d-flex justify-content-center">
                <img src="https://cdn.imweb.me/thumbnail/20220817/a65febe50569b.png" style="height:188px; width :223px;" />
            </div>
            <span class="d-block" style="width : auto; color: #ff6516; font-size : 36px; font-weight:700;">1. 뛰어난 맛</span>
            <span class="d-block" style="width : auto; color: black; font-size: 14px; font-weight:600">국내 유일의 스팀터널 열처리방식을 통해</span>
            <span class="d-block" style="width : auto; color: black; font-size: 14px; font-weight:600">보다 부드럽고 식감이 살아있습니다.</span>
        </div>
        <div class="col-3 row m-0 p-0 d-flex justify-content-center">
            <img src="https://cdn.imweb.me/thumbnail/20220816/6ab44392ac902.png" style="height:188px; width :223px;" />
            <span class="d-block" style="width : auto; color: #ff6516; font-size : 36px; font-weight:700;">2. 정직한 중량</span>
            <span class="d-block" style="width : auto; color: black; font-size: 14px; font-weight:600">무게를 부풀리기위해 절대 물을 첨가하거나</span>
            <span class="d-block" style="width : auto; color: black; font-size: 14px; font-weight:600">저렴한 제품을 섞어 만들지 않습니다.</span>
        </div>
        <div class="col-3 row m-0 p-0 d-flex justify-content-center">
            <img src="https://cdn.imweb.me/thumbnail/20220816/c1d4a1fbf6e04.png" style="height:188px; width :223px;" />
            <p class="d-block" style="width : auto; color: #ff6516; font-size : 36px; font-weight:700;">3. 합리적인 가격</p>
            <p class="d-block" style="width : auto; color: black; font-size: 14px; font-weight:600">농가직계약 및 직수입을 통해 항상 합리적인</p>
            <p class="d-block" style="width : auto; color: black; font-size: 14px; font-weight:600">가격으로 상품을 납품해 드리고 있습니다.</p>
        </div>
    </div>
</div>
<div class="col-12 row m-0 p-0 d-flex justify-content-center" style="margin-top: 50px; height:587px; background-color:white;">
    <div class="col-11 row m-0 p-0 d-flex justify-content-center align-items-center" style="background-color: #ff6516;">
        <div class="col-12 row m-0 p-0 d-flex justify-content-center">
            <div class="col-12 row m-0 p-0 d-flex justify-content-center"><span style="width:auto; background-color : white; color : #ff6516; font-size : 21px;">전국 1200호점 돌파!</span></div>
            <div class="col-12 row m-0 p-0 d-flex justify-content-center"><span style="width:auto; color:white; font-size: 60px; font-weight:900; margin-top : 15px;">푸코스만의 프리미엄 브랜드</span></div>
            <div class="col-12 row m-0 p-0 d-flex justify-content-center"><span style="width:auto; color:white; font-size: 60px; font-weight:900; margin-top : 15px;">소개합니다</span></div>
            <div class="col-12 row p-0 d-flex justify-content-center" style="margin:0; margin-top : 30px;">
                <div class="col-12 row m-0 p-0 d-flex justify-content-center"><span class="span_O d-block" style="width:auto;">대구 3대 곱창, 막창 맛집 본연의 맛을 잘 지켜내고</span></div>
                <div class="col-12 row m-0 p-0 d-flex justify-content-center"><span class="span_O d-block" style="width:auto;"><b>최상의 품질을 자랑하는 제품만을 납품</b>하기 위하여</span></div>
                <div class="col-12 row m-0 p-0 d-flex justify-content-center"><span class="span_O d-block" style="width:auto;"><b>푸코스 만의 프리미엄 브랜드를 선보입니다!</b></span></div>
            </div>
        </div>
    </div>
</div>
<div class="col-12 row m-0 p-0 d-flex justify-content-center" style="height:900px; background-color:white;">
    <div class="col-11 row m-0 p-0 d-flex justify-content-center align-items-center">
        <div class="col-12 row p-0 d-flex justify-content-center" style="margin:0; margin-top:100px;">
            <div class="col-12 row m-0 p-o d-flex justify-content-center"><span style="color:#ff6516; font-size:40px; font-weight:700">OME&ODMㆍ도소매ㆍ일반식당ㆍ프랜차이즈 본사</span></div>
            <div class="col-12 row m-0 p-o d-flex justify-content-center"><span style="color:black; font-size:50px; font-weight:900">납품ㆍ제조 전문기업</span></div>
        </div>
        <div class="col-12 row m-0 p-0 d-flex justify-content-around">
            <div class="col-3 row d-flex justify-content-center">
                <div class="col-12 m-0 p-0 d-flex justify-content-center"><img src="https://cdn.imweb.me/thumbnail/20210719/ceba8da06589b.png" style="height:250px;" /></div>
                <div class="col-12 p-0 d-flex justify-content-center" style="margin:0; margin-top: 20px;"><span style="font-size:25px; font-weight:900;">고객의 니즈에 맞춘</span></div>
                <div class="col-12 m-0 p-0 d-flex justify-content-center"><span style="font-size:25px; font-weight:900;">생산납품 시스템</span></div>
                <div class="col-12 p-0 d-flex justify-content-center" style="margin:0; margin-top:10px;"><span style="font-size:14px; font-weight:500;">프랜차이즈, OME/ODM 등</span></div>
                <div class="col-12 m-0 p-0 d-flex justify-content-center"><span style="font-size:14px; font-weight:500;">여러 납품형태를 갖추고 있으며,</span></div>
                <div class="col-12 m-0 p-0 d-flex justify-content-center"><span style="font-size:14px; font-weight:500;">직제조 과정으로 합리적인 가격입니다.</span></div>
            </div>
            <div class="col-3 row d-flex justify-content-center">
                <div class="col-12 m-0 p-0 d-flex justify-content-center"><img src="https://cdn.imweb.me/thumbnail/20220215/970fe2667ce30.png" style="height:250px;" /></div>
                <div class="col-12 p-0 d-flex justify-content-center" style="margin:0; margin-top: 20px;"><span style="font-size:25px; font-weight:900;">합리적인 공급을 위한</span></div>
                <div class="col-12 m-0 p-0 d-flex justify-content-center"><span style="font-size:25px; font-weight:900;">자체 제조, 물류시설 운영</span></div>
                <div class="col-12 p-0 d-flex justify-content-center" style="margin:0; margin-top:10px;"><span style="font-size:14px; font-weight:500;">직경매ㆍ직수입의 안정적인 물류 인프라로</span></div>
                <div class="col-12 m-0 p-0 d-flex justify-content-center"><span style="font-size:14px; font-weight:500;">어떠한 시장상황에서도 안정적인</span></div>
                <div class="col-12 m-0 p-0 d-flex justify-content-center"><span style="font-size:14px; font-weight:500;">물류 확보 및 원활한 수급이 가능합니다.</span></div>
            </div>
            <div class="col-3 row d-flex justify-content-center">
                <div class="col-12 m-0 p-0 d-flex justify-content-center"><img src="https://cdn.imweb.me/thumbnail/20220901/115ca35890eb4.png" style="height:250px;" /></div>
                <div class="col-12 p-0 d-flex justify-content-center" style="margin:0; margin-top: 20px;"><span style="font-size:25px; font-weight:900;">까다롭게 관리하는</span></div>
                <div class="col-12 m-0 p-0 d-flex justify-content-center"><span style="font-size:25px; font-weight:900;">철저한 위생시스템</span></div>
                <div class="col-12 p-0 d-flex justify-content-center" style="margin:0; margin-top:10px;"><span style="font-size:14px; font-weight:500;">HACCP 인증을 받은</span></div>
                <div class="col-12 m-0 p-0 d-flex justify-content-center"><span style="font-size:14px; font-weight:500;">깨끗하고안전한 제조시설에서</span></div>
                <div class="col-12 m-0 p-0 d-flex justify-content-center"><span style="font-size:14px; font-weight:500;">위생적인 식품을 생산하고 있습니다.</span></div>
            </div>
        </div>
        <div class="col-12 row m-0 p-0 d-flex justify-content-center">
            <button type="button" class="OMD_btn" style="">OME/ODM 자세히 알아보기</button>
        </div>
    </div>
</div>
